<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="client.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      background-color: #1abc9c;
      /* Green */
      color: #ffffff;
    }

    .bg-2 {
      background-color: #474e5d;
      /* Dark Blue */
      color: #ffffff;
    }

    .bg-3 {
      background-color: #ffffff;
      /* White */
      color: #555555;
    }

    .bg-4 {
      background-color: #2f2f2f;
      /* Black Gray */
      color: #fff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
    }

    .navbar-nav li a:hover {
      color: #1abc9c !important;
    }
  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Me</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <%if(!flag){%>
          <li><a href="/login">LOGIN</a></li>
          <li><a href="/join">JOIN</a></li>
          <%} else {%>
          <li><a href="/login/out">LOGOUT</a></li>
          <%} %>
          <li><a href="/game">GAME</a></li>
          <li><a href="/board" id="board">BOARD</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <img src="/game.png" width="300px" style="margin: 0px 30px; cursor:pointer;" onclick="location.href='/game/1'">
    <img src="/game2.png" width="300px" style="margin: 0px 30px; cursor:pointer;" onclick="location.href='/game/2'">
    <img src="/tetris.png" width="300px" style="margin: 0px 30px; cursor:pointer;" onclick="location.href='/game/3'">
  </div>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">게시판 검색</h3>
    <form action="/board" method="GET">
      <input name="search" style="color: black;">
      <button class="btn btn-default btn-lg" type="submit" id="search_btn">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </form>
  </div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">
    <h3 class="margin">RANKING</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>GAME RANKING</p>
        <table border="1">
          <% for(let i=0; i<game1Result.length; i++) {%>
          <tr>
            <td><%=i+1%></td>
            <td><%=game1Result[i].name%></td>
            <td><%=game1Result[i].id%></td>
            <td><%=game1Result[i].score%></td>
          </tr>
          <%}%>
        </table>
      </div>

      <div class="col-sm-4">
        <p>GAME2 RANKING</p>
        <table border="1">
          <% for(let i=0; i<game2Result.length; i++) {%>
          <tr>
            <td><%=i+1%></td>
            <td><%=game2Result[i].name%></td>
            <td><%=game2Result[i].id%></td>
            <td><%=game2Result[i].score%></td>
          </tr>
          <%}%>
        </table>

      </div>

      <div class="col-sm-4">
        <p>TETRIS RANKING</p>
        <table border="1">
          <% for(let i=0; i<tetrisResult.length; i++) {%>
          <tr>
            <td><%=i+1%></td>
            <td><%=tetrisResult[i].name%></td>
            <td><%=tetrisResult[i].id%></td>
            <td><%=tetrisResult[i].score%></td>
          </tr>
          <%}%>
        </table>
      </div>

    </div>
  </div>

  <!-- Footer -->
  <footer class="container-fluid bg-4 text-center">
    <p>Bootstrap Theme Made By <a href="https://www.w3schools.com">www.w3schools.com</a></p>
  </footer>

</body>

</html>